.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 0 0 150px;
    cursor: pointer;
   
  
    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 3vw;
     
      .nav-active {
        position: relative;
  
        &::after {
          content: "";
          height: 2px;
          width: 0;
          position: absolute;
          border-radius: 10px;
          background-color: rgb(141, 136, 136);
          bottom: 0px;
          left: 50%;
          transform: translateX(-50%);
          -webkit-animation: anim 0.3s ease forwards;
          animation: anim 0.6s ease forwards;
  
          @-webkit-keyframes anim {
            to {
             width: 100%;
            }
          }
          @keyframes anim {
            to {
              width: 100%;
            }
          }
        }
      }
      :hover{
        //height: 40px;
        background: black;
        li{
          color: white;
        }

      }
      li{
        color: gray;
        font-size: 1rem;
      }
    }
    img {
      margin-top: -4vh; // Ajusté proportionnellement
      max-height: 35vh; // Adapte à l'écran
      width: auto; // Préserve les proportions
      object-fit: contain; // Ajuste sans déformation
    }
  }
  